html, head, body
  margin 0
  padding 0
  font-family "Helvetica Neue", "Helvetica"
  -webkit-font-smoothing: antialiased
  background-color #e5e5e5
  color: #555
  
ul
  padding 0
  margin 0
  list-style-type: none

h1, h2, h3, h4, h5
  margin 5px 0

h1
  font-weight: bold
  font-size 42px
  color #66
  text-shadow: 0 1px 1px white

h3
  font-size: 18px

h4
  font-size: 16px

h2, h3, h4, h5
  font-weight: 300
  text-shadow: 0 1px 1px white
  white-space: nowrap
  color: #91959C
  font-family: 'open sans',arial,sans-serif
  
small
  font-size: 75%
  color: #91959C
  text-shadow: 0 1px 1px white
  font-family: 'open sans',arial,sans-serif
  
p
  font-size: 16px
  color: #555
  text-align: justify
  line-height: 22px
  text-shadow: 0 1px 1px white
  
  img
    width: 100%
    
  a
    font-weight: bold
    color #555

pre 
  margin-left: 10px
  white-space: pre-wrap;       /* css-3 */
  white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
  white-space: -pre-wrap;      /* Opera 4-6 */
  white-space: -o-pre-wrap;    /* Opera 7 */
  word-wrap: break-word;       /* Internet Explorer 5.5+ */
  
pre, code
  font-size: 16px
  font-family: monospace, serif
  line-height: 22px

blockquote 
  border-left 4px solid #5
  margin-left 10px
  padding-left 10px
  font-style italic
  font-size 80%

a
  text-decoration: none

  &:hover
    color: #22a6f4

.item a
  color: #91959C
  
  &:hover
    color: #22a6f4
  
ul ul
  margin-left: 10px