body
  background-color whiteSmoke
  font-family "Helvetica Neue",Arial,Helvetica,Geneva,sans-serif
  webkit-font-smoothing antialiased
  font-size 16px
  color #5
  text-align justify
  
#wrapper
  margin 20px auto
  position relative
  width 600px

#header
  margin 0 auto
  width 200px
  line-height 0px
  position relative
  
  p
    font-size 12px
    margin-left 14px
    color #a
    
#documentation
  margin-top 25px
  line-height 22px

h1
  font-size 50px
  font-family "Helvetica Neue"

h1,h2,h3,h4,h5,h6,h7
  color #3
  clear both
  
blockquote 
  border-left 4px solid #5
  margin-left 10px
  padding-left 10px
  font-style italic
  font-size 90%

a
  text-decoration none
  font-weight bold
  color #3
  
  &:hover
    color #dc4444
    
.plugins

  ul
    margin 0
    padding 0
    width 100%
    font-size 90%
  
  h3
    line-height 5px
  
  li 
    float left
    width 280px
    margin-left 40px
    list-style none

  li:nth-child(odd)
    clear both
    margin-left 0
  
    
#footer
  padding 30px
  background-color whiteSmoke
  border-style solid
  border-color gray
  border-width 1px 0 1px 0
